h1 > a{
    display: block;
    background-image: url('../images/logo-ANSWER.svg');
    background-size: cover;
    background-position: center center;
    width: 135px;
    height: 24px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar{
    background-color: $primary;
    min-width: 296px;
    min-height: 100vh;
    // position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__detail{
        display: flex;
        color: $dark;
        h2{
            margin: auto 0;
        } 
        &:hover, &:active{
            color: $secondary;
            text-decoration: none;
        }
    }

    &__photo{
        width: 40px;
        height: 40px;
        border-radius: 24px;
        // opacity: 1;
        background-image: url('../images/andychen.jpeg');
        background-position: center center;
        background-size: cover;
    }
    &__user{
        display: flex;
    }
}

